
<div class="container dimension1" style="border: 0px;">
    <div class="container dimension2">
        <div class="container dimension3">
            <div class="container dimension4">
                <div class="container dimension5">
                    <div class="container dimension6">
                        <div class="rotate">
                            <div class="slide-right">
                                    <span class="marquee">
                                        <span>
                                            <h1>
                                                This is the Banner text
                                            </h1></span>
                                    </span>
                                   
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>